*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
issues.json
pulls.json
report.xml
venv/
lib
draft-ietf-intarea-provisioning-domains.xml
20190721 PvD I-D by Ted Lemon.docx
